ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    height: 382px;
    overflow-y: auto;
}

ul > div > h2 {
    margin-bottom: 10px;
    font-size: 15px;
}


li {
    width: 363px;
    background-color: var(--color-grey-100);
    padding: 10px;
    border-radius: 4px;
    list-style-type: none;
}

li > p {
    font-weight: 400;
    font-size: 12px;
    color: var(--color-grey-300);
}

.verde {
    border-left: 5px solid green;
}

.cinza {
    border-left: 5px solid grey;
}

.div_1 > button {
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.div_1 > button:hover {
    background-color: rgba(0, 0, 0, 0.199);
    border: 1px solid rgba(0, 0, 0, 0.637);
}

.div_1 > button > img {
    width: 10px;
    height: 10px;
}

.div_1 > h4 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
}

.div_1 > p {
    font-weight: 400;
    font-size: 12px;
}

.div_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    li {
        width: 493px;
    }
    
}