.button {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    background-color: var(--color-primary);
    width: 98%;
    height: 48px;
    padding: 13px 20px;
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grey-100);
}

.button:hover {
    background-color: var(--color-primary-2);
}

.button_filtro {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 14px;
    width: 64px;
    height: 40px;
    background-color: var(--color-grey-200);
    color: var(--color-grey-400);
    border: 1.4px solid var(--color-grey-200);
    border-radius: 8px;
    cursor: pointer;
}

.button_filtro:hover {
    background-color: var(--color-primary);
    color: var(--color-grey-100);
    border: 1px solid var(--color-primary);
}

@media (min-width: 768px) {
    .button {
        width: 200px;
    }
    
}