.div_filtro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 363px;
    height: max-content;
}

.div_filtro > p {
    font-weight: 700;
    font-size: 14px;
}

.div_buttons {
    display: flex;
    gap: 10px;
}

@media (min-width: 768px) {
    .div_filtro {
        width: 100%;
    }
}